@import "tailwindcss";
@import "@fontsource/roboto/100.css";
@import "@fontsource/roboto/200.css";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/600.css";
@import "@fontsource/roboto/700.css";
@import "@fontsource/roboto/800.css";
@import "@fontsource/roboto/900.css";

@layer base {
    html {
        font-size: 62.5%;
        line-height: 1.6rem;
        font-family: "Roboto", sans-serif;
        @apply bg-gray-950;
    }
}

@theme {
    --color-primary: #c4c4c4;
}

@layer components {
    .card-pseudo::before {
        @apply absolute top-0 left-0 z-10 h-full w-full bg-[linear-gradient(180deg,_#fa248f1f,_#e81c5a)] opacity-100 transition-opacity duration-200 ease-in-out content-[''];
    }
    .card-hover::before {
        @apply absolute top-0 left-0 z-10 h-full w-full bg-[linear-gradient(180deg,_#fa248f1f,_#ff0080)] opacity-0 transition-opacity duration-200 ease-in-out content-[''];
    }
    .card-hover:hover::before {
        @apply opacity-100;
    }
}
