@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "@fontsource/roboto/100.css";
@import "@fontsource/roboto/200.css";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/600.css";
@import "@fontsource/roboto/700.css";
@import "@fontsource/roboto/800.css";
@import "@fontsource/roboto/900.css";

/* Tailwind */
@theme {
    --color-corner: var(--corner);
    --color-primary: var(--primary);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary-foreground: var(--secondary-foreground);
}

@layer base {
    :root {
        --corner: #323232;
        --primary: #e81c5a;
        --foreground: #fff;
        --background: #0e0e0e;
        --primary-foreground: #c4c4c4;
        --secondary-foreground: rgba(255, 255, 255, 0.75);
    }

    html {
        @apply overflow-scroll scroll-smooth text-[62.5%];
    }

    body {
        font-family: "Roboto", sans-serif;
        @apply bg-background text-foreground leading-[1.6rem];
    }

    ::selection {
        @apply bg-primary;
    }
}

@layer components {
    .indicator-pseudo::before {
        @apply absolute top-[calc(50%+0.3rem)] right-[calc(50%+7.4rem)] aspect-square h-[0.8rem] rounded-full bg-[#89de5d] content-[""];
    }
    .card-pseudo::before {
        @apply absolute top-0 left-0 z-10 h-full w-full bg-[linear-gradient(180deg,_#fa248f1f,_#e81c5a)] opacity-100 transition-opacity duration-200 ease-in-out content-[""];
    }
    .card-hover::before {
        @apply absolute top-0 left-0 z-10 h-full w-full bg-[linear-gradient(180deg,_#fa248f1f,_#ff0080)] opacity-0 transition-opacity duration-200 ease-in-out content-[""];
    }
    .card-hover-active::before {
        @apply absolute top-0 left-0 z-10 h-full w-full bg-[linear-gradient(180deg,_#fa248f1f,_#ff0080)] opacity-100 transition-opacity duration-200 ease-in-out content-[""];
    }
    .card-hover:hover::before {
        @apply opacity-100;
    }
}

/* CSS */
#root {
    @apply text-[1.6rem];
}

.card-active .card-element-active {
    @apply translate-y-0 fill-current saturate-100 duration-200 ease-in-out;
}
