@import "tailwindcss";
@import "@fontsource/roboto/100.css";
@import "@fontsource/roboto/200.css";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/600.css";
@import "@fontsource/roboto/700.css";
@import "@fontsource/roboto/800.css";
@import "@fontsource/roboto/900.css";

/* Tailwind */
@theme {
    --color-corner: var(--corner);
    --color-primary: var(--primary);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --color-primary-foreground: var(--primary-foreground);
}

@layer base {
    :root {
        --corner: #323232;
        --primary: #d5375c;
        --foreground: #fff;
        --background: #0e0e0e;
        --primary-foreground: #c4c4c4;
    }

    html {
        font-family: "Roboto", sans-serif;
        @apply bg-background text-foreground scroll-smooth text-[62.5%] leading-[1.6rem];
    }

    ::selection {
        @apply bg-primary;
    }
}

@layer components {
    .card-pseudo::before {
        @apply absolute top-0 left-0 z-10 h-full w-full bg-[linear-gradient(180deg,_#fa248f1f,_#e81c5a)] opacity-100 transition-opacity duration-200 ease-in-out content-[''];
    }
    .card-hover::before {
        @apply absolute top-0 left-0 z-10 h-full w-full bg-[linear-gradient(180deg,_#fa248f1f,_#ff0080)] opacity-0 transition-opacity duration-200 ease-in-out content-[''];
    }
    .card-hover-active::before {
        @apply absolute top-0 left-0 z-10 h-full w-full bg-[linear-gradient(180deg,_#fa248f1f,_#ff0080)] opacity-100 transition-opacity duration-200 ease-in-out content-[''];
    }
    .card-hover:hover::before {
        @apply opacity-100;
    }
}

/* CSS */
#root {
    @apply text-center;
}

.card-active .card-element-active {
    @apply translate-y-0 fill-current saturate-100 duration-200 ease-in-out;
}
